<div id="mashControls">
    <div class="row">
        <div class="col-xs-12">
            <div data-ng-show="stepControlForm.$dirty && stepControlForm.stepTime.$error.required">Step duration is required.</div>
            <div data-ng-show="stepControlForm.$dirty && stepControlForm.stepTime.$error.min">Step duration should be between 10 and 60 min.</div>&nbsp;
            <div data-ng-show="stepControlForm.$dirty && stepControlForm.stepTemp.$error.required">Step temperature is required.</div>
            <div data-ng-show="stepControlForm.$dirty && stepControlForm.stepTemp.$error.min">Step temperature should be between 104 and 170 degrees.</div>&nbsp;
        </div>
    </div>
    <div class="row">
        <form name="stepControlForm" novalidate>
            <div class="col-xs-5">
                <input type="number" id="stepTime" name="stepTime" class="form-control" placeholder="Minutes" data-ng-model="step.time" required min="10" max="60" />
                
            </div>
            <div class="col-xs-5">
                <input type="number" id="stepTemp" name="stepTemp" class="form-control" placeholder="Temperature" data-ng-model="step.temp" min="104" max="170" />
            </div>
            <div class="col-xs-2">
                <a id="addStep" class="btn btn-primary"><i class="fa fa-plus-square" data-ng-click="addStep()"></i></a>
            </div>
        </form>
    </div>
    <br />
    <div class="row">
        <div class="col-xs-12 btn-group btn-group-justified">
            <div class="btn-group">
                <button class="btn btn-success" data-ng-click="startMash()">Start</button>
            </div>
            <div class="btn-group">
                <button class="btn btn-danger" data-ng-click="stopMash()">Stop</button>
            </div>
        </div>
    </div>
</div>
